<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Wishlist</title>
</head>
<body>
  <ul>
   <% countries.map(country=>{ %>
    <li><%= country.name %></li>
    <% }) %>
  </ul>
  <a href="/api/countries/add">Add a new country</a>
</body>
</html>